body {
  font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
}

td {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
}

th {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
}

<!--
.STYLE1 {font-size: 10px}
-->

<!--
.STYLE2 {font-size: 14px}
-->